<h2>Posts</h2>

<!-- Search form -->
<section class="my-3">
	<app-search-form
		[searchStrFromUrl]="searchStrFromUrl"
		[filterByFromUrl]="filterByFromUrl"
		[filters]="filters"
		(searchTermChange)="searchTermChanged($event)"
	></app-search-form>
</section>

<!-- Post list -->
<section *ngIf="filteredPosts$ | async as filteredPosts" class="mb-3">
	<app-post-list [postList]="filteredPosts" (sortListEvent)="sortList()"></app-post-list>
</section>

<!-- Pagination -->
<section>
	<app-pagination></app-pagination>
</section>
