<div class="container row py-5">
	<div *ngFor="let photo of photoList" class="col-6 col-md-3">
		<div class="card mb-4">
			<div class="card-body d-flex flex-row justify-content-between p-0">
				<img [src]="photo.thumbnailUrl" class="card-img" [alt]="photo.title" />
			</div>

			<div class="card-footer">
				<div>
					<a class="d-inline-block text-truncate max-w-100" [routerLink]="'/photos/' + photo.id">
						{{ photo.title }}
					</a>
				</div>

				<div *ngIf="showAlbumLink">
					<a [routerLink]="'/albums/' + photo.albumId"> View Album </a>
				</div>
			</div>
		</div>
	</div>
</div>
