/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

// Used in sorting button in post list table
.cursor-pointer {
	cursor: pointer;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

// Used in user page, for fixed height
.h-mid {
	height: 400px;
}
